*, html{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #f2f2f2;
}
/*Header com a logo e o nome*/
.header{
    width: 100%;
    color: #ffffff;
    background-color: #2e2e2e;
    height: 140px;
    line-height: 100px;
    text-align: center;
}
.header h1{
    font-size: 3.5em;
}
.header img{
    position: relative;
    top: 12px;
    margin: 5px;
}
.header p{
    line-height: 18px;
    font-size: 1.2em;
}
/*banner*/
.banner{
    width: 100%;
    height: 560px;
    overflow: hidden;
}
.banner img{
    position: relative;
    top: -120px;
    width: 100%;
    margin: auto;
}
/*Preset dos itens box*/
.menu{
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    list-style: none;
}
.menu li{
    margin: 25px 2.5px;
    width: 400px;
    border-radius: 25px;
    background-color: white;
    height: 360px;
    z-index: 1;
}
.menu li p{
    font-size: 1.5em;
}

/*Preset dos itens*/
.item-menu{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.item-menu p{
    font-size: 1.4em;
    margin-top: 20px;
    height: 20px;
    line-height: 20px;
}
.item-menu > .item-image{
    width: 100%;
    height: 235px;
    margin: 10px 0;
}

.item-image img{
    margin: auto;
    max-height: 235px;
    transition: all .25s linear;
}
.item-image img:hover  {
    height: 105%;
}
.item-menu a{
    background-color: #26b926;
    height: 42px;
    width: 120px;
    font-size: 1.25em;
    border-radius: 20px;
    line-height: 42px;
    margin: auto;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s linear;
}
.item-menu a:hover{
    background-color: #ffffff;
    border: 1px solid #26b926cb;
    color: #26b926;
}
.item-menu a:active{
    height: 38px;
    width: 116px;
}
/*Todos os itens do main*/
.todos-title{
    height: 50px;
    width: 150px;
    margin: auto;
    text-align: center;
}
.todos-title h3{
    font-size: 30px;
    border-bottom: 2px solid #2e2e2e;
}
.todos-title p{
    font-size: 20px;
    color: rgb(172, 172, 172);
}
.itens-list li{
    margin: 25px 2.5px;
    width: 450px;
    border-radius: 25px;
    background-color: white;
    height: 500px;
}
.itens-list .desc{
    width: 97%;
    font-size: 18px;
    color: #808080;
    margin: 10px auto;
    word-wrap: break-word;
}
.itens-list a{
    background-color: #26b926;
    height: 49px;
    width: 179px;
    font-size: 1.25em;
    border-radius: 20px;
    line-height: 49px;
    margin: auto;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.1s linear;
}
.itens-list a:hover{
    background-color: #ffffff;
    border: 1px dashed #26b926cb;
    color: #26b926;
}
.itens-list a:active{
    height: 48px;
    width: 176px;
}
.itens-list span{
    font-size: 1.5em;
    color: #00bd04;
    padding-top: 25px;
}
/*Itens pages presets*/
.seta:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right: 10px solid white; 
  }
.voltar-btn{
    text-decoration: none;
    position: absolute;
    top: 5px;
    vertical-align: middle;
    left: 5px;
    font-size: 1.4em;
    border-radius: 200px;
    text-align: center;
    padding: 20px 20px 20px 20px;
    width: 120px;
    height: 18px;
    line-height: 2px;
    background-color: rgb(255, 64, 64);
    color: #ffffff;
    transition: all .1s linear;
}
.voltar-btn:hover{
    background-color: rgba(255, 64, 64, 0.4);
}
.itens-pages h1{
    font-size: 2.5em;
    padding-top: 10px;
    text-align: center;
    font-weight: 400;
}
.itens-pages{
    width: 80%;
    height: 1080px;
    border-radius: 20px;
    margin: 60px auto;
    background-color: white;
}
.item-image-item-page img{
    height: 600px;
    margin: auto;
    transition: all .1s linear;
}
.item-image-item-page{
    display: flex;
    flex-direction: column;
}
.item-image-item-page p{
    font-size: 1.7em;
    width: 60%;
    color: gray;
    margin: 50px auto;
    word-wrap: break-word;
}
.price{
    width: 500px;
    font-size: 1.8em;
    text-align: center;
    height: 100px;
    margin: auto;
}
.price span{
    margin-top: 50px;
    font-weight: 500;
    color: #00bd04;
}
.price p{
    margin-top: 10px;
    color: darkgreen;
    font-size: smaller;
    font-weight: 300;
}
.item-page-btn{
        margin-top: 10px;
        text-align: center;
        background-color: #26b926;
        height: 70px;
        width: 300px;
        font-size: 1.4em;
        border-radius: 20px;
        line-height: 70px;
        margin: auto;
        text-decoration: none;
        color: #ffffff;
        transition: all 0.1s linear;
    
}
.item-page-btn:hover{
    background-color: #ffffff;
    border: 1px dashed #26b926cb;
    color: #26b926;
}


.relacionados h2{
    width: 300px;
    font-weight: 500;
    text-align: center;
    margin: auto;
}
.item-page-menu{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.item-page-menu p{
    font-size: 1.4em;
    margin-top: 20px;
    height: 20px;
    line-height: 20px;
}
.item-page-menu span{
    font-size: 1.2em;
    color: #26b926;
}
.item-page-menu > .item-image{
    width: 100%;
    height: 235px;
    margin: 10px 0;
}
.item-page-menu a{
    background-color: #26b926;
    height: 50px;
    width: 200px;
    font-size: 1.25em;
    border-radius: 20px;
    line-height: 50px;
    margin: auto;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s linear;
}
.item-page-menu a:hover{
    background-color: #ffffff;
    border: 1px solid #26b926cb;
    color: #26b926;
}
.item-page-menu a:active{
    height: 50px;
    width: 190px;
}
.relacionados li{
    height: 400px;
}

















footer{
    background-color: #2e2e2e;
    color: #ffffff;
    font-weight: lighter;
}

.footer-title{
    margin-bottom: 50px;
    font-weight: bolder;
}
.footer-content{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
}
.footer-socials{
    display: flex;
    flex-direction: column;
    list-style: none;

}
.footer-socials p{
    text-align: center;
    color: rgba(255, 255, 255, 0.795);
    font-weight: lighter;
    font-size: 1.5em;
}
.footer-socials li{
    height: 40px;
    line-height: 40px;
}
.footer-socials span{
    padding-left: 10px;
    font-size: 1.4em;
}
.footer-novidades{
    font-size: 1.5em;
    font-weight: lighter;
    color:rgba(255, 255, 255, 0.795);
}
footer h5{
    height: 30px;
    width: 100%;
    font-weight: lighter;
    font-size: 2em;
    text-align: center;
}
.footer-email{
    width: 316px;
    height: 30px;
    padding: 5px;
    font-size: 1.2em;
    border-radius: 10px;
}
.footer-enviar-btn{
    font-weight: bolder;
    text-decoration: none;
    color: #ffffff;
    background-color: #26b926;
    margin: 20px auto;
    padding: 10px;
    padding-top: 13px;
    line-height: 46px;
    border-radius: 5px;
    height: 25px;
    width: 120px;
    transition: all .2s linear;
}

.footer-enviar-btn:hover{
    background-color: #26b926cb;
}

@media(max-width: 1366px){
    .desc{
        display: none;
    }
    .item-menu{
        font-size: 70%;
    }
    .item-menu span{
        font-size: 200%;
    }
    .item-menu a{
        font-size: 150%;
    }
}